
@font-face {
  font-family: "BusinessPeople";
  src:
    url("/fonts/BusinessPeople/BusinessPeople.woff") format("woff"),
    url("/fonts/BusinessPeople/BusinessPeople.ttf") format("truetype");
}

.test-icon::before {
  font-family: "BusinessPeople";
  content: "A";
  font-size: 80px;
}



@font-face {
    font-family: "AnalyticsAndInvestment";
    src: url("/fonts/AnalyticsAndInvestment/AnalyticsAndInvestment.woff") format("woff"),url("/fonts/AnalyticsAndInvestment/AnalyticsAndInvestment.ttf") format("truetype");
}

*[data-ico-analyticsandinvestment]:before {
    font-family: AnalyticsAndInvestment;
    content: attr(data-ico-analyticsandinvestment);
}

@font-face {
    font-family: "Business";
    src: url("/fonts/Business/Business.woff") format("woff"),url("/fonts/Business/Business.ttf") format("truetype");
}

*[data-ico-business]:before {
    font-family: Business;
    content: attr(data-ico-business);
}

@font-face {
    font-family: "BusinessAndFinance";
    src: url("/fonts/BusinessAndFinance/BusinessAndFinance.woff") format("woff"),url("/fonts/BusinessAndFinance/BusinessAndFinance.ttf") format("truetype");
}

*[data-ico-businessandfinance]:before {
    font-family: BusinessAndFinance;
    content: attr(data-ico-businessandfinance);
}

@font-face {
    font-family: "BusinessManagement";
    src: url("/fonts/BusinessManagement/BusinessManagement.woff") format("woff"),url("/fonts/BusinessManagement/BusinessManagement.ttf") format("truetype");
}

*[data-ico-businessmanagement]:before {
    font-family: BusinessManagement;
    content: attr(data-ico-businessmanagement);
}

@font-face {
    font-family: "BusinessOffice";
    src: url("/fonts/BusinessOffice/BusinessOffice.woff") format("woff"),url("/fonts/BusinessOffice/BusinessOffice.ttf") format("truetype");
}

*[data-ico-businessoffice]:before {
    font-family: BusinessOffice;
    content: attr(data-ico-businessoffice);
}

@font-face {
    font-family: "BusinessPeople";
    src: url("/fonts/BusinessPeople/BusinessPeople.woff") format("woff"),url("/fonts/BusinessPeople/BusinessPeople.ttf") format("truetype");
}

*[data-ico-businesspeople]:before {
    font-family: BusinessPeople;
    content: attr(data-ico-businesspeople);
}

@font-face {
    font-family: "Construction";
    src: url("/fonts/Construction/Construction.woff") format("woff"),url("/fonts/Construction/Construction.ttf") format("truetype");
}

*[data-ico-construction]:before {
    font-family: Construction;
    content: attr(data-ico-construction);
}

@font-face {
    font-family: "CorporateBusiness";
    src: url("/fonts/CorporateBusiness/CorporateBusiness.woff") format("woff"),url("/fonts/CorporateBusiness/CorporateBusiness.ttf") format("truetype");
}

*[data-ico-corporatebusiness]:before {
    font-family: CorporateBusiness;
    content: attr(data-ico-corporatebusiness);
}

@font-face {
    font-family: "CorporateManagement";
    src: url("/fonts/CorporateManagement/CorporateManagement.woff") format("woff"),url("/fonts/CorporateManagement/CorporateManagement.ttf") format("truetype");
}

*[data-ico-corporatemanagement]:before {
    font-family: CorporateManagement;
    content: attr(data-ico-corporatemanagement);
}

@font-face {
    font-family: "CustomerRelationshipManagement";
    src: url("/fonts/CustomerRelationshipManagement/CustomerRelationshipManagement.woff") format("woff"),url("/fonts/CustomerRelationshipManagement/CustomerRelationshipManagement.ttf") format("truetype");
}

*[data-ico-customerrelationshipmanagement]:before {
    font-family: CustomerRelationshipManagement;
    content: attr(data-ico-customerrelationshipmanagement);
}

@font-face {
    font-family: "CustomerService";
    src: url("/fonts/CustomerService/CustomerService.woff") format("woff"),url("/fonts/CustomerService/CustomerService.ttf") format("truetype");
}

*[data-ico-customerservice]:before {
    font-family: CustomerService;
    content: attr(data-ico-customerservice);
}

@font-face {
    font-family: "Design";
    src: url("/fonts/Design/Design.woff") format("woff"),url("/fonts/Design/Design.ttf") format("truetype");
}

*[data-ico-design]:before {
    font-family: Design;
    content: attr(data-ico-design);
}

@font-face {
    font-family: "Development";
    src: url("/fonts/Development/Development.woff") format("woff"),url("/fonts/Development/Development.ttf") format("truetype");
}

*[data-ico-development]:before {
    font-family: Development;
    content: attr(data-ico-development);
}

@font-face {
    font-family: "DigitalMarketing";
    src: url("/fonts/DigitalMarketing/DigitalMarketing.woff") format("woff"),url("/fonts/DigitalMarketing/DigitalMarketing.ttf") format("truetype");
}

*[data-ico-digitalmarketing]:before {
    font-family: DigitalMarketing;
    content: attr(data-ico-digitalmarketing);
}

@font-face {
    font-family: "Economy";
    src: url("/fonts/Economy/Economy.woff") format("woff"),url("/fonts/Economy/Economy.ttf") format("truetype");
}

*[data-ico-economy]:before {
    font-family: Economy;
    content: attr(data-ico-economy);
}

@font-face {
    font-family: "Essential";
    src: url("/fonts/Essential/Essential.woff") format("woff"),url("/fonts/Essential/Essential.ttf") format("truetype");
}

*[data-ico-essential]:before {
    font-family: Essential;
    content: attr(data-ico-essential);
}

@font-face {
    font-family: "GlobalBusiness";
    src: url("/fonts/GlobalBusiness/GlobalBusiness.woff") format("woff"),url("/fonts/GlobalBusiness/GlobalBusiness.ttf") format("truetype");
}

*[data-ico-globalbusiness]:before {
    font-family: GlobalBusiness;
    content: attr(data-ico-globalbusiness);
}

@font-face {
    font-family: "HumanResources";
    src: url("/fonts/HumanResources/HumanResources.woff") format("woff"),url("/fonts/HumanResources/HumanResources.ttf") format("truetype");
}

*[data-ico-humanresources]:before {
    font-family: HumanResources;
    content: attr(data-ico-humanresources);
}

@font-face {
    font-family: "Icon7Stroke";
    src: url("/fonts/Icon7Stroke/Icon7Stroke.woff") format("woff"),url("/fonts/Icon7Stroke/Icon7Stroke.ttf") format("truetype");
}

*[data-ico-icon7stroke]:before {
    font-family: Icon7Stroke;
    content: attr(data-ico-icon7stroke);
}

@font-face {
    font-family: "JobResume";
    src: url("/fonts/JobResume/JobResume.woff") format("woff"),url("/fonts/JobResume/JobResume.ttf") format("truetype");
}

*[data-ico-jobresume]:before {
    font-family: JobResume;
    content: attr(data-ico-jobresume);
}

@font-face {
    font-family: "MarketingAndAdvertising";
    src: url("/fonts/MarketingAndAdvertising/MarketingAndAdvertising.woff") format("woff"),url("/fonts/MarketingAndAdvertising/MarketingAndAdvertising.ttf") format("truetype");
}

*[data-ico-marketingandadvertising]:before {
    font-family: MarketingAndAdvertising;
    content: attr(data-ico-marketingandadvertising);
}

@font-face {
    font-family: "Productivity";
    src: url("/fonts/Productivity/Productivity.woff") format("woff"),url("/fonts/Productivity/Productivity.ttf") format("truetype");
}

*[data-ico-productivity]:before {
    font-family: Productivity;
    content: attr(data-ico-productivity);
}

@font-face {
    font-family: "Science";
    src: url("/fonts/Science/Science.woff") format("woff"),url("/fonts/Science/Science.ttf") format("truetype");
}

*[data-ico-science]:before {
    font-family: Science;
    content: attr(data-ico-science);
}

@font-face {
    font-family: "SocialMediaAndNetwork";
    src: url("/fonts/SocialMediaAndNetwork/SocialMediaAndNetwork.woff") format("woff"),url("/fonts/SocialMediaAndNetwork/SocialMediaAndNetwork.ttf") format("truetype");
}

*[data-ico-socialmediaandnetwork]:before {
    font-family: SocialMediaAndNetwork;
    content: attr(data-ico-socialmediaandnetwork);
}

@font-face {
    font-family: "Taxes";
    src: url("/fonts/Taxes/Taxes.woff") format("woff"),url("/fonts/Taxes/Taxes.ttf") format("truetype");
}

*[data-ico-taxes]:before {
    font-family: Taxes;
    content: attr(data-ico-taxes);
}

@font-face {
    font-family: "TaxesAccounting";
    src: url("/fonts/TaxesAccounting/TaxesAccounting.woff") format("woff"),url("/fonts/TaxesAccounting/TaxesAccounting.ttf") format("truetype");
}

*[data-ico-taxesaccounting]:before {
    font-family: TaxesAccounting;
    content: attr(data-ico-taxesaccounting);
}

@font-face {
    font-family: "Teamwork";
    src: url("/fonts/Teamwork/Teamwork.woff") format("woff"),url("/fonts/Teamwork/Teamwork.ttf") format("truetype");
}

*[data-ico-teamwork]:before {
    font-family: Teamwork;
    content: attr(data-ico-teamwork);
}

@font-face {
    font-family: "Transportation";
    src: url("/fonts/Transportation/Transportation.woff") format("woff"),url("/fonts/Transportation/Transportation.ttf") format("truetype");
}

*[data-ico-transportation]:before {
    font-family: Transportation;
    content: attr(data-ico-transportation);
}
