---
import Layout from "../layouts/BaseLayout.astro";
import FlippingCard from "../components/ui/FlippingCard.astro";
import Section from "../components/ui/Section.astro";
import "../styles/global.css";
import Heading from "../components/ui/Heading.astro";
import HubSpotForm from "../components/ui/HubSpotForm.astro";

const formAction = String(import.meta.env.PUBLIC_CONTACT_FORM_ACTION || "");
---

<Layout title="Special Offers">
  <Section>
    <div class="grid lg:grid-cols-2 gap-4">
      <article>
        <Heading level={5}>
          <span class="text-accent">Special Offers</span>
          <!-- CMMS Program
  <span class="text-accent">
    Optimization 
  </span>-->
        </Heading>
        <p>
          Asset Analytix is pleased to offer two powerful solutions to evaluate
          the most critical aspects of your Reliability and Asset Management
          program and a Deep-Dive Baselining training event for your PM Program.
          Once registered, you will receive an email with links to get started.
        </p>

        <div class="grid lg:grid-cols-2 gap-4 max-w-2xl mx-auto pt-4">

<FlippingCard class="offer-flip" 

  minHeight="24rem"
  frontTitle="PM Baselining Analysis"
  frontPreText="Register NOW for your"
  frontLogo="/assets/images/360Nav.png"
  frontBottomText="Flip to Learn More"
  backText="The 360 PM BASELINING ANALYSIS will provide a full-scale evaluation report of your entire PM program and the hidden value of reliability, labor and resources!"
/>
<FlippingCard class="offer-flip"

  minHeight="24rem"
  frontTitle="Assess your CMMS Assessment"
  frontPreText="Register NOW for your"
  frontLogo="/assets/images/360Nav.png"
  frontBottomText="Flip to Learn More"
  backText="The CMMS Assessment will evaluate your current implementation maturity..."
/>
</div>
</article>


      <div>
        <Heading level={5}>
          <span class="text-accent">Register for Your Special Offer</span>
          <!-- CMMS Program
  <span class="text-accent">
    Optimization 
  </span>-->
        </Heading>
        <HubSpotForm
          portalId="25291755"
          formId="1a941ba4-d708-43ca-8904-342acc59fb7b"
        />
      </div>
    </div>
  </Section>
</Layout>


